**                                                      module 1: Graded Quiz: Data Wrangling Quiz**

How many launches came from CCAFS SLC 40?

In [1]:
import pandas as pd

# Dataset URL
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv"

# Load the dataset directly from the URL
df = pd.read_csv(url)

# Count the number of launches from "CCAFS SLC 40"
launch_counts = df['LaunchSite'].value_counts()
ccafs_slc_40_count = launch_counts.get('CCAFS SLC 40', 0)

print(f"Number of launches from CCAFS SLC 40: {ccafs_slc_40_count}")

Number of launches from CCAFS SLC 40: 55

Question 3
In the lab you used the method .value_counts() to determine the number and occurrence of each orbit in the column Orbit. What was the value for Orbit with the column name GTO.

In [2]:
import pandas as pd

# Dataset URL
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv"

# Load the dataset
df = pd.read_csv(url)

# Use .value_counts() on the Orbit column to get occurrences of each orbit type
orbit_counts = df['Orbit'].value_counts()

# Get the value for the "GTO" orbit
gto_count = orbit_counts.get('GTO', 0)

print(f"Number of launches with orbit 'GTO': {gto_count}")

Number of launches with orbit 'GTO': 27